
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');

nav{
    background-color: black;
}

.container{
    width: 80% !important;
}

.back-purple-gradient{
    /*background: rgb(21,19,25);
    background: linear-gradient(259deg, rgba(21,19,25,1) 0%, rgba(152,128,208,1) 76%);*/
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 7%, rgba(4,119,193,1) 52%, rgba(58,58,181,1) 80%, rgba(37,35,125,1) 100%);
}

.tabs{
    background-color: transparent;
    color: white;
}

.tabs li a{
    color: white !important; 
}

.tabs .indicator {
    background-color:#000;
}

.without-shadow{
    box-shadow: none;
}

h2,h3,h4,h5{
    font-family: 'Amatic SC', cursive;
    text-shadow: 4px 4px 4px rgba(150, 150, 150, 1);
    text-align: center;
}

input{
    font-family: 'Roboto', sans-serif;
}

div.card{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
}

table{
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: white;
    color: #727272;
}

thead{
    border: none;
    background: #1e88e5;
    color: white;
    font-family: 'Roboto', sans-serif;
}

td{
    padding: 14px;
}

.icon-card{
    width: 50px;
    height: 50px;
}

.width-100{
    width: 100% !important;
}

.logotype{
    max-width: 200px;
    max-height: 200px;
}

/*Evita que los items y columnas en una fila se compriman de forma horizontal a medida que baja el tamaño de la pantalla, pasandolos a col s12*/
@media only screen and (max-width: 600px) { .row.valign-wrapper { display: inherit; }}

