
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

nav{
    background-color: black;
}

.index-information{
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.index-information a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.index-information li{
    margin-left: 30px;
    font-size: 13px;
}

.container{
    width: 80% !important;
}

.back-purple-gradient{
    background: rgb(0,212,255);
background: linear-gradient(90deg, rgba(0,212,255,1) 7%, rgba(4,119,193,1) 40%, rgba(58,58,181,1) 63%, rgba(87,44,172,1) 71%, rgba(134,44,161,1) 95%);
}

.tabs{
    background-color: transparent;
    color: white;
}

.tabs li a{
    color: white !important; 
}

.tabs .indicator {
    background-color:#000;
}

.without-shadow{
    box-shadow: none;
}

h2,h3,h4,h5{
    font-family: 'Amatic SC', cursive;
    text-shadow: 4px 4px 4px rgba(150, 150, 150, 1);
    text-align: center;
}

input{
    font-family: 'Roboto', sans-serif;
}

div.card{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
}

table{
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: white;
    color: #727272;
}

thead{
    border: none;
    background: #1e88e5;
    color: white;
    font-family: 'Roboto', sans-serif;
}

td{
    padding: 14px;
}

.icon-card{
    width: 50px;
    height: 50px;
}

.width-100{
    width: 100% !important;
}

.logotype{
    max-width: 200px;
    max-height: 200px;
}

/*Evita que los items y columnas en una fila se compriman de forma horizontal a medida que baja el tamaño de la pantalla, pasandolos a col s12*/
@media only screen and (max-width: 600px) { .row.valign-wrapper { display: inherit; }}

